
<div class="city_viewport">
    <!--City View-->
</div>

<div class="top_menu top_menu_main">
    <span>&equiv; Main Menu</span>
</div>

<div class="top_menu top_menu_undo_redo">
    <span>Undo</span>
    <span>Redo</span>
</div>

<div class="city_viewport_navigation">
    <span>Pan</span>
    <span>Zoom +</span>
    <span>Zoom -</span>
    <span>Help</span>
</div>


<div class="building_sub_palette">
    <div class="building_sub_palette_01"><p>1</p></div>
    <div class="building_sub_palette_02"><p>2</p></div>
    <div class="building_sub_palette_03"><p>3</p></div>
    <div class="building_sub_palette_04"><p>4</p></div>
    <div class="building_sub_palette_05"><p>5</p></div>
    <div class="building_sub_palette_06"><p>6</p></div>
    <div class="building_sub_palette_07"><p>7</p></div>
    <div class="building_sub_palette_08"><p>8</p></div>
</div>

<div class="building_palette">
    <div class="building_palette_01"><p>Housing</p></div>
    <div class="building_palette_02"><p>Power</p></div>
    <div class="building_palette_03"><p>Water</p></div>
    <div class="building_palette_04"><p>Industry</p></div>
    <div class="building_palette_05"><p>Entertainment</p></div>
    <div class="building_palette_06"><p>Education</p></div>
    <div class="building_palette_07"><p>Transport</p></div>
    <div class="building_palette_08"><p>Parks</p></div>

    <p class="building_palette_bulldoze">Bulldoze</p>
</div>


<router-outlet></router-outlet>
