<div class="city_background">
</div>

<main-menu />
<undo-redo-menu />
<navigation-menu />

@for (road of city.getRoadsCopy(); track $index) {
    <div class="building_placement"
        [style.background-image]="road.getType().getImageUrl()"
        [style.left]="road.getPos().getPixelsX()"
        [style.top]="road.getPos().getPixelsY()"
        [style.width]="grid.getDimension().x"
        [style.height]="grid.getDimension().y"
        [style.background-size]="'auto ' + grid.getDimension().getPixelsY()"
        [style.backroundPositionTopLeft]="0"
        alt="Road" title="Road">
    </div>
}

@for (building of city.getBuildingsCopy(); track $index) {
    @if(building.getOccupiedArea().isIntersectingRectList( currentBuildingTool.getOccupiedArea() )) {
        @for (r of building.getOccupiedArea().rects; track $index) {
            <div class="building_placement occupied_area"
                [style.left]="r.getTopLeft().getPixelsX()" [style.top]="r.getTopLeft().getPixelsY()"
                [style.width]="r.getSize().getPixelsX()" [style.height]="r.getSize().getPixelsY()">
            </div>
        }
    }

    <img class="building_placement"
        [src]="building.getType().getImagePath()"
        [style.left]="building.getPos().getPixelsX()" 
        [style.top]="building.getPos().getPixelsY()"
        [style.width]="building.getType().getImageSize().getPixelsX()"
        [style.height]="building.getType().getImageSize().getPixelsY()"
        [alt]="building.getType().getName()" [title]="building.getType().getName()" />
}

@if (isToolRoad()) {
    <div class="building_placement" style="background: rgb(0,0,0);"
        [style.background-image]="currentBuildingTool.getType().getImageUrl()"
        [style.left]="currentBuildingTool.getPos().getPixelsX()" 
        [style.top]="currentBuildingTool.getPos().getPixelsY()"
        [style.width]="grid.getDimension().x"
        [style.height]="grid.getDimension().y"
        [style.background-size]="'auto ' + grid.getDimension().getPixelsY()"
        [style.backroundPositionTopLeft]="0"
        (click)="placeBuilding(buildingPalette)">
    </div>
}
@else if (!currentBuildingTool.isEmptyType()) {
    @if(!isToolDemolish()) {
    <div class="building_placement gizmo_area" [class.gizmo_ok]="city.isPlaceable(currentBuildingTool)"
        [style.left]="getMouseCenteredGizmoPos().getPixelsX()"
        [style.top]="getMouseCenteredGizmoPos().getPixelsY()" >
    </div>
    }

    @if(!city.isPlaceable(currentBuildingTool) && !isToolDemolish()) {
        @for (r of currentBuildingTool.getOccupiedArea().rects; track $index) {
            <div class="building_placement occupied_area"
                [style.left]="r.getTopLeft().getPixelsX()" [style.top]="r.getTopLeft().getPixelsY()"
                [style.width]="r.getSize().getPixelsX()" [style.height]="r.getSize().getPixelsY()">
            </div>
        }
    }

    <img class="building_placement"
        [src]="currentBuildingTool.getType().getImagePath()"
        [style.left]="currentBuildingTool.getPos().getPixelsX()" 
        [style.top]="currentBuildingTool.getPos().getPixelsY()"
        [style.width]="currentBuildingTool.getType().getImageSize().getPixelsX()"
        [style.height]="currentBuildingTool.getType().getImageSize().getPixelsY()"
        (click)="placeBuilding(buildingPalette)">
}

<building-palette (buildingToolSelectedEvent)="buildingToolSelectedEvent($event)" #buildingPalette />

<version-information />

<router-outlet></router-outlet>
