<div class="city_viewport">
    <!--City View-->
</div>

<main-menu />
<navigation-menu />

@for (building of city.getBuildingsCopy(); track $index) {
    <div class="building_placement" [style.left]="building.pos.getPixelsX()" [style.top]="building.pos.getPixelsY()">
        <img [src]="building.type.imagePath" [width]="building.type.imageSize.x" height="auto" [alt]="building.type.name" [title]="building.type.name" >
    </div>
}

@if (currentBuildingType.name != "") { 
    <div class="building_placement current_building_placement" [style.left]="getMousePixelsX()" [style.top]="getMousePixelsY()">
        <img [src]="currentBuildingType.imagePath" width="100px" height="auto" (click)="placeBuilding()">
    </div>
}

<building-palette (buildingTypeSelectedEvent)="buildingTypeSelected($event)" />

<version-information />

<router-outlet></router-outlet>
