<div class="city_background" 
    [style.background-size]="grid.getDimension().getPixelsX() + ' ' + grid.getDimension().getPixelsY()"
    [style.left]="grid.getOrigin().getPixelsX()"
    [style.top]="grid.getOrigin().getPixelsY()"
    [style.width]="grid.getMaxSize().getPixelsX()"
    [style.height]="grid.getMaxSize().getPixelsY()"
    (mousedown)="navigationPanStart()" (mouseup)="navigationPanEnd()" [class.navigation_pan_active]="navigationPanEnabled" >

@for (road of city.getRoadsCopy(); track $index) {
    @if( !isToolRoad() && currentBuildingTool.getOccupiedArea().isIntersectingRectList( road.getOccupiedArea()) ) {
        @for (r of road.getOccupiedArea().rects; track $index) {
            <div class="building_placement occupied_area"
                [style.left]="r.getTopLeft().getPixelsX()" [style.top]="r.getTopLeft().getPixelsY()"
                [style.width]="r.getSize().getPixelsX()" [style.height]="r.getSize().getPixelsY()">
        </div>
    }
    }
    <div class="building_placement"
        [style.background-image]="road.getType().getImageUrl()"
        [style.left]="road.getPos().getPixelsX()"
        [style.top]="road.getPos().getPixelsY()"
        [style.width]="road.getType().getSize().getPixelsX()"
        [style.height]="road.getType().getSize().getPixelsY()"
        [style.background-size]="'auto ' + grid.getDimension().getPixelsY()"
        [style.background-position]="'left ' + city.getRoadSpritePosition(road)+'px top 0px'"
        alt="Road" title="Road">
    </div>
}

@for (building of city.getBuildingsCopy(); track $index) {
    @if(!isToolRoad() && currentBuildingTool.getOccupiedArea().isIntersectingRectList( building.getOccupiedArea() )) {
        @for (r of building.getOccupiedArea().rects; track $index) {
            <div class="building_placement occupied_area"
                [style.left]="r.getTopLeft().getPixelsX()" [style.top]="r.getTopLeft().getPixelsY()"
                [style.width]="r.getSize().getPixelsX()" [style.height]="r.getSize().getPixelsY()">
            </div>
        }
    }

    <img class="building_placement"
        [src]="building.getType().getImagePath()"
        [style.left]="building.getPos().getPixelsX()" 
        [style.top]="building.getPos().getPixelsY()"
        [style.width]="building.getType().getSize().getPixelsX()"
        [style.height]="building.getType().getSize().getPixelsY()"
        [alt]="building.getType().getName()" [title]="building.getType().getName()" />
}

@if (isToolRoad()) {
    <div class="building_placement gizmo_area" [class.gizmo_ok]="city.isPlaceable(currentBuildingTool)"
        [style.left]="getMouseCenteredGizmoPos().getPixelsX()"
        [style.top]="getMouseCenteredGizmoPos().getPixelsY()"
        [style.width]="getGizmoSizePx()"
        [style.height]="getGizmoSizePx()"
        >
    </div>

    <div class="building_placement"
        [style.background-image]="currentBuildingTool.getType().getImageUrl()"
        [style.left]="currentBuildingTool.getPos().getPixelsX()" 
        [style.top]="currentBuildingTool.getPos().getPixelsY()"
        [style.width]="currentBuildingTool.getType().getSize().getPixelsX()"
        [style.height]="currentBuildingTool.getType().getSize().getPixelsY()"
        [style.background-size]="'auto ' + grid.getDimension().getPixelsY()"
        [style.background-position]="'left ' + city.getRoadSpritePosition(currentBuildingTool)+'px top 0px'"
        (click)="placeBuilding(buildingPalette)">
    </div>
}
@else if (!currentBuildingTool.isEmptyType()) {
    @if(!isToolDemolish()) {
    <div class="building_placement gizmo_area" [class.gizmo_ok]="city.isPlaceable(currentBuildingTool)"
        [style.left]="getMouseCenteredGizmoPos().getPixelsX()"
        [style.top]="getMouseCenteredGizmoPos().getPixelsY()"
        [style.width]="getGizmoSizePx()"
        [style.height]="getGizmoSizePx()">
    </div>
    }

    @if(!city.isPlaceable(currentBuildingTool) && !isToolDemolish()) {
        @for (r of currentBuildingTool.getOccupiedArea().rects; track $index) {
            <div class="building_placement occupied_area"
                [style.left]="r.getTopLeft().getPixelsX()" [style.top]="r.getTopLeft().getPixelsY()"
                [style.width]="r.getSize().getPixelsX()" [style.height]="r.getSize().getPixelsY()">
            </div>
        }
    }

    <img class="building_placement"
        [src]="currentBuildingTool.getType().getImagePath()"
        [style.left]="currentBuildingTool.getPos().getPixelsX()" 
        [style.top]="currentBuildingTool.getPos().getPixelsY()"
        [style.width]="currentBuildingTool.getType().getSize().getPixelsX()"
        [style.height]="currentBuildingTool.getType().getSize().getPixelsY()"
        (click)="placeBuilding(buildingPalette)">
}

</div>

<!--<main-menu />-->
<!--<undo-redo-menu />-->
<navigation-menu [navigationPanEnabled]="navigationPanEnabled" (navigationPanEvent)="navigationPanCommand(buildingPalette)" />
<building-palette [buildingTileSize]="this.grid.getDimension()" (buildingToolSelectedEvent)="buildingToolSelectedEvent($event)" #buildingPalette />
<version-information />

<router-outlet></router-outlet>
