

<div class="building_sub_palette" (click)="grabBuilding(demolishBuildingType)">
    <div class="building_sub_palette_demolish" (mouseenter)="hoverBuilding(demolishBuildingType)" (mouseleave)="hoverOut()">
        <p class="icon_sprite icon_sprite_demolish"></p>
    </div>
</div>

@for (entry of buildingTypeEntries(); track $index) {
    @if (currentSubMenu == entry[0]) {
        <div class="building_sub_palette">
            @for (buildingType of entry[1]; track $index) {
            <div [class]="'building_sub_palette_'+($index+1)" (click)="grabBuilding(buildingType)" (mouseenter)="hoverBuilding(buildingType)" (mouseleave)="hoverOut()">
                <p><img [src]="buildingType.getImagePath()" width="50px" height="auto"></p>
            </div>
            }
        </div>
    }
}

<div class="building_palette">
    @for (entry of buildingTypeEntries(); track $index) {
        <div [class]="'building_palette_' + ($index+1)" (click)="showSubMenu(entry[0])" (mouseenter)="hoverBuildingName=entry[0]" (mouseleave)="hoverOut()" >
            <p [class]="'icon_building_type icon_' + entry[0].toLowerCase()"></p>
        </div>
    }
    
    @if(this.isToolEmpty()) {
        <p class="building_palette_road icon_sprite icon_sprite_road"
            (click)="grabRoadOrFinishAction()"
            (mouseenter)="hoverBuilding(roadBuildingType)"
            (mouseleave)="hoverOut()">
    </p>
    }
    @else {
        <p class="building_palette_road icon_sprite icon_sprite_cancel" (click)="grabRoadOrFinishAction()"></p>
    }
</div>
    
<div class="status_info">
        @if (hoverBuildingName != "") {
            <strong>{{hoverBuildingName}}</strong>
        }
        @else if (currentBuildingType.getName() == "") {
            Click on the wheel to select building type&hellip;
        }
        @else if (currentBuildingType.getName() == "Demolish") {
            Click on a building to demolish it, or <strong>X</strong> to cancel&hellip;
        }
        @else {
            Click on the map to place <strong>{{currentBuildingType.getName()}}</strong>, or <strong>X</strong> to cancel&hellip;
        }
</div>
    