
.city_viewport_navigation {
    position: fixed;
    top: 20px;
    right: 20px;

    display: block;
    width: 250px;
    height: 40px;

    margin: 10px;
    padding: 10px;

    background-color: #f0f0f0;
    border: 1px solid #ccc;

    border-radius: 20px;
}

.city_viewport_navigation span {
    display: inline-block;
    margin: 5px;
    padding: 5px;

    border-radius: 10px;

    cursor: pointer;
}

.city_viewport_navigation span:hover {
    background-color: #6957aa;
}
