/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Quicksand, "Helvetica Neue", sans-serif;
}

.icon_sprite {
    display: inline-block;

    /* This is the default size but some UI icons are larger */
    width: 30px;
    height: 30px;

    background-image: url(asset/IconsUI.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icon_sprite_road {
    background-position: 0px 0px;
}

.icon_sprite_demolish {
    background-position: 16% 0%;
}

.icon_sprite_pan {
    background-position: 32% 0%;
}

.icon_sprite_zoom_in {
    background-position: 48% 0%;
}

.icon_sprite_zoom_out {
    background-position: 64% 0%;
}

.icon_sprite_help {
    background-position: 80% 0%;
}

.icon_sprite_cancel {
    background-position: 100% 0%;
}

.icon_building_type {
    display: inline-block;

    width: 32px;
    height: 32px;

    background-image: url(asset/IconsBuildingType.png);
    background-repeat: no-repeat;
    background-size: auto 32px;
}

.icon_housing {
    background-position: 0px 0px;
}

.icon_power {
    background-position: -32px 0px;
}

.icon_water {
    background-position: -64px 0px;
}

.icon_industry {
    background-position: -96px 0px;
}

.icon_entertainment {
    background-position: -128px 0px;
}

.icon_education {
    background-position: -160px 0px;
}

.icon_transport {
    background-position: -192px 0px;
}

.icon_parks {
    background-position: -224px 0px;
}

.icon_sprite_safety {
    background-position: -256px 0px;
}

.icon_sprite_health {
    background-position: -288px 0px;
}

.icon_sprite_civic {
    background-position: -320px 0px;
}

.top_menu {
    position: fixed;
    left: 0px;

    display: block;
    height: 60px;

    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: #f0f0f0;
    border: 1px solid #ccc;

    border-radius: 20px;
    margin-top: -20px;
}

.top_menu span {
    display: inline-block;

    border-radius: 10px;
    cursor: pointer;
}

.top_menu span:hover {
    background-color: #6957aa;
}
