/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top_menu {
    position: fixed;
    left: 0px;

    display: block;
    height: 60px;

    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: #f0f0f0;
    border: 1px solid #ccc;

    border-radius: 20px;
    margin-top: -20px;
}

.top_menu span {
    display: inline-block;

    border-radius: 10px;
    cursor: pointer;
}

.top_menu span:hover {
    background-color: #6957aa;
}

.icon_sprite {
    display: inline-block;
    width: 30px;
    height: 30px;

    background-image: url(asset/IconSprites.png);
    background-repeat: no-repeat;
    background-size: auto 30px;
}

.icon_sprite_pan {
    background-position: 0px 0px;
}